


POSTGRES_HOST_PORT=5433
POSTGRES_CONTAINER_PORT=5432


QDRANT_HTTP_HOST_PORT=6333
QDRANT_HTTP_CONTAINER_PORT=6333
QDRANT_GRPC_HOST_PORT=6334
QDRANT_GRPC_CONTAINER_PORT=6334


MLFLOW_HOST_PORT=5001
MLFLOW_CONTAINER_PORT=5000


DATABRICKS_HOST=https://abcdefg.databricks.com/
LLM_ENDPOINT_NAME=system.ai.meta-llama-3-3-70b-instruct
DATABRICKS_CHAT_INVOCATIONS_URL=https://abcdefg.databricks.com/ai-gateway/mlflow/v1/chat/completions
JUDGE_LLM_ENDPOINT_NAME=system.ai.meta-lamma-3-1-8b-instruct
JUDGE_DATABRICKS_CHAT_INVOCATIONS_URL=https://abcdefg.databricks.com/ai-gateway/mlflow/v1/chat/completions

EMBEDDING_ENDPOINT_NAME=system.ai.qwen3-embeddings-0-6b
DATABRICKS_EMBEDDING_NAME=https://abcdefg.databricks.com/ai-gateway/mlflow/v1/embeddings

MLFLOW_TRACKING_URI=databricks
MLFLOW_EXPERIMENT_NAME=/Users/your_databricks_email_account/your-demo-name