# Carpetas de compilación de Maven
target/
*.egg-info/

# Archivos de configuración de IDEs
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# Archivos del sistema y logs
*.log
.DS_Store
Thumbs.db

uploads/